.formNomeUsuario{
    margin-top: 20px;
    margin-bottom: 20px;
}

.formEmail{
    
    margin-bottom: 20px;
}
.formSenha{
    margin-bottom: 20px;
}

.btnForm{
    text-align: center;
}

button#btnSalvar {
    margin-right: 10px;
}


.formularioLogin {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 45px;
    margin-right: 40px;
    padding-right: 40px;
    padding-left: 45px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: darkcyan;
}

label{
    font-family: cursive;
    color: aliceblue;
    
}
