<div class="alert alert-primary" role="alert">
   CADASTRO DE USÚARIO
  </div>





  <div class="formularioLogin">
  
    <form [formGroup]="formulario">
      <div class="formNomeUsuario">

        <div class="row">
          
          <label for="Nome">Nome:</label>     
          <div class="col-12 col-sm-10">
              <input type="text" class="form-control"  placeholder="nome" pInputText [(ngModel)]="usuario.nome" formControlName="nome" name="nome">
          </div>          
        </div>
      </div>

      <div class="formEmail">

        <div class="row">
            
            <label for="Nome">E-mail:</label>            
            <div class="col-12 col-sm-10">
                <input type="text" class="form-control" placeholder="email" pInputText [(ngModel)]="usuario.email"  formControlName="email"name="email">
            </div>          
          </div>
      </div>

    <div class="formSenha">
      
      <div class="row">
          
          <label for="Nome">Senha:</label>
          <div class="col-12 col-sm-5">
              <input type="text" class="form-control" placeholder="senha" pInputText [(ngModel)]="usuario.senha" formControlName="senha" name="senha">
          </div>   
          
          
          
<!--           
          <div class="col-12 col-sm-5">
              <input type="password" class="form-control" placeholder="Confirmar Senha">
          </div>     -->
        </div>
    </div>


      </form>
    
                <div class="btnForm">
                    
                    <button type="button" class="btn btn-primary" id="btnSalvar" (click)="salvar()" [disabled]="formulario.invalid">Salvar</button>
                    <button type="button" class="btn btn-danger" (click)="buttonVoltar()" id="btnVoltar">Voltar</button>
          
                  </div>
  </div>

