<div class="alert alert-primary" role="alert">
   CADASTRO DE USÚARIO
  </div>





  <div class="formularioLogin">
  
    <form>
      <div class="formNomeUsuario">

        <div class="row">
          
          <label for="Nome">Nome:</label>     
          <div class="col-12 col-sm-10">
              <input type="text" class="form-control">
          </div>          
        </div>
      </div>

      <div class="formEmail">

        <div class="row">
            
            <label for="Nome">E-mail:</label>            
            <div class="col-12 col-sm-10">
                <input type="text" class="form-control">
            </div>          
          </div>
      </div>

    <div class="formSenha">
      
      <div class="row">
          
          <label for="Nome">Senha:</label>
          <div class="col-12 col-sm-5">
              <input type="password" class="form-control">
          </div>   
          
          
          
          
          <div class="col-12 col-sm-5">
              <input type="password" class="form-control" placeholder="Confirmar Senha">
          </div>    
        </div>
    </div>


      </form>
    
                <div class="btnForm">
                    
                    <button type="button" class="btn btn-primary" id="btnSalvar">Salvar</button>
                    <button type="button" class="btn btn-danger" id="btnVoltar">Voltar</button>
              
                  </div>
  </div>

