.recuperar{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 45px;
    margin-right: 40px;
    padding-right: 40px;
    padding-left: 45px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: darkcyan;
    
}
label{
    font-family: cursive;
    color: aliceblue;
}

.btnRecuperar{
    margin-top: 20px;
    text-align: center
}