<!-- <nav>
    <div class="nav-wrapper">
        <a class="brand-logo right">Repositorio de Projetos</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a>tela-login</a></li>
        <li><a>Recuperar-senha</a></li>
        </ul>
    </div>
</nav> -->

<div>
    <!-- <a href="#">Login</a> -->
    <a routerLink="/tela-login">Login</a>  
    <br>
    <!-- <a href="/Recuperar-senha">recuperar-senha</a> -->
    <a routerLink="/recuperar-senha"></a> 
    <br>
    <!-- <a href="#">formulario de cadastro</a> -->
    <a routerLink="/form-login"></a> 
    <br>
    <!-- <a href="#">pesquisar projetos</a> -->
    <a routerLink="/pesquisa-projeto"></a> 
    <br> 
    
</div> 

<router-outlet></router-outlet>

<!-- <router-outlet name="popup"></router-outlet>  -->


<!-- <app-pesquisa-projeto></app-pesquisa-projeto>

 <app-tela-login></app-tela-login> 

  <app-form-login></app-form-login> 

  <app-recuperar-senha></app-recuperar-senha>   -->
