
<header>
  <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
      <div class="container"> 
          <h1>Cadastrar Projeto</h1>
      </div>
  </nav>
</header>

<div class="container">
    <form style="margin-top: 30px;"[formGroup]="formulario">
        <div class="form-row">
          <div class="col-7">
            <input type="text" class="form-control" pInputText [(ngModel)]="projeto.nome" name="nome"  formControlName="nome" placeholder="Nome Projeto">
          </div>
          <div class="col">
              <input type="text" class="form-control" pInputText [(ngModel)]="projeto.versao" name="versao"  formControlName="versao" placeholder="Versão">
            </div>
        </div>
        <div class="form-group" style="margin-top: 30px;">
            <textarea class="form-control" id="exampleFormControlTextarea1"  pInputText [(ngModel)]="projeto.descricao" name="descricao"  formControlName="descricao" rows="3" placeholder="Área para Anotações sobre o Projeto"></textarea>
          </div>
      </form>
</div>


<div class="botoes">
    <button type="button" class="btn btn-primary" style="margin-right: 10px;"  (click)="salvarOuAtualizar()" [disabled]="formulario.invalid">Salvar</button>

    <button type="button" class="btn btn-danger" (click)="voltar()">Cancelar</button>
</div>