  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#/pesquisa-projeto/form-projeto">Novo Projeto</a>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#/tela-login">Sair <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <input type="text" class="form-control" pInputText [(ngModel)]="nome"  placeholder="Digite o Nome do Usuario">
          <button type="button" class="btn btn-secondary"
          (click)="searchByName()" ><i class="fas fa-search"></i></button>
        </div>
      </div>
    </nav>


    <div class="container" *ngFor="let usuario of listarUsuarios" style="margin-top: 30px;">
        <div class="card-header">
            <span class="nomeAutor">{{usuario.nome}}</span>
            <span style="margin-left: 65%;">
              <button type="button" class="btn btn-light" 
              (click)="buttonFormProjeto()"id="btn">Novo Projeto</button>
            </span>
          </div>
          <div class="card">
            <div class="container" *ngFor="let projeto of usuario.projetos" style="margin-top: 30px;">
              <div class="card">
                  <div class="card-header">
                      <h3 class="card-title">{{projeto.nome}}</h3>
                  </div>
                  <div class="card-body">             
                   
                    <div class="row"> 
                        <div class="col-12 col-sm-2">
                          <span style="font-weight: bold">Versão: </span> <label class="versao"> {{projeto.versao}} </label>
                        </div>          
            
                        <div class="col-12 col-sm-10">
                            <span style="font-weight: bold">Data Criação:</span> {{projeto.dataCriacao}}   <span style="font-weight: bold">Data Atualização:</span> {{projeto.dataAtualizacao}}
                        </div>    
                      </div>
            
                    <p class="card-text">{{projeto.descricao}}</p>
                   
                    <div class="botao">
                        <button type="button" class="btn btn-primary" (click)="listarUsuario()"id="btn"><i class="fas fa-download"></i></button>
                        <button type="button" class="btn btn-warning"  (click)="chamarFormulario(projeto)" id="btn"><i class="fas fa-pencil-alt"></i></button>
                        <button type="button" class="btn btn-danger" (click)="modalExcluir(projeto.idProjeto)"id="btn"><i class="fas fa-trash"></i></button>
                    </div>
                  </div>
                </div>
                <br>
            </div>
          </div>
    </div>
    