<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="imgLogin">
      <img src="../assets/img/img1.png" style="width: 150px; height: 150px;">
     </div>

    <!-- Login Form -->
    <div class="container">
      <form >
        <div style="margin-bottom: 10px;">
          <input type="email" id="login" class="form-control" placeholder="email"
           pInputText [(ngModel)]="email"  name="email">
        </div>
        <input type="password" id="password" class="form-control" pInputText [(ngModel)]="senha"
           name="senha" placeholder="Senha">
        
        <div class="btnLogin">
          <button type="button" class="btn btn-primary" (click)="buttonEntar(email, senha)" [disabled]="email.invalid">Entrar</button>
        </div>
      </form>
    </div>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <button class="underlineHover" (click)="buttonRecuperar()"href="#">Esqueceu a Senha?</button><p></p>
      <button class="underlineHover" (click)="buttonForm()"href="#">Cadastra-se?</button>
    </div>


  </div>
</div>
